.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 4px;
  box-sizing: border-box;

  background: linear-gradient(to bottom, #C4F1FB, #2193B0);

  width: 100%;

  padding: 2px;
  margin-bottom: 6px;
}

.deadline {
  margin: 0px;
}

.description {
  text-align: center;

  margin-top: 2px;
  margin-bottom: 4px;
  padding-bottom: 12px;

  border-bottom: 1px solid #FFFFFF;
  width: 100%;
}

.action-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
}

.btn-group2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}