.update-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  box-sizing: border-box;

  height: 30%;
  width: 50%;

  background-color: #FFFFFF;

  border-radius: 12px;
}